<app-header titulo="card"></app-header>

<ion-content>

    <ion-card mode="ios">
        <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>

    <ion-card mode="ios">
        <ion-item color="primary">
            <ion-icon slot="start" name="pin-outline"></ion-icon>
            <ion-label>Marcador</ion-label>
        </ion-item>

        <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, excepturi laborum. Culpa molestias velit distinctio, omnis eum labore veniam eius temporibus expedita tempora voluptatem, inventore impedit nesciunt sequi itaque aliquam.
        </ion-card-content>
    </ion-card>

    <ion-card mode="ios">
        <img src="https://f.rpp-noticias.io/2019/05/15/374037_789490.png" alt="">
        <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, excepturi laborum. Culpa molestias velit distinctio, omnis eum labore veniam eius temporibus expedita tempora voluptatem, inventore impedit nesciunt sequi itaque aliquam.
        </ion-card-content>
    </ion-card>

</ion-content>